@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}
body{
    /* background: #f0a119; */
}
.navbar{
    /* background: rgb(98, 97, 97); */
    background: #f0a119;

}

  